<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Music Store</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="albums">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Albums Listing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="albumsgrid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Albums Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artistgrid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Artist
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genregrid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Genres
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demobuildget">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo Get
            </NavLink>
        </div>
    </nav>
</div>

