@page "/underconstruction"
@attribute [StreamRendering]
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities;

<PageTitle>Under Construction</PageTitle>

<h1>Under Construction</h1>

<p>this page is under construction</p>
<img src=\images\underconstruction.png>